from datetime import date, datetime, time
from decimal import Decimal
from typing import Annotated

from pydantic import Field

from framework.common.contracts import SnowflakeIdInput, SnowflakeReferenceInput
from framework.common.schemas import BaseVO


class {{ class_name }}ListReqVO(BaseVO):
    {{ ('管理后台 - ' + class_comment + '列表查询 Request VO') | pyrepr }}
    {% for column in list_columns %}
    {% if column.field_name not in ['id', 'creator', 'create_time', 'updater', 'update_time', 'deleted'] %}
    {% if column.list_operation_condition == 'BETWEEN' %}
    {{ column.field_name }}: Annotated[list[{{ column | request_type }}] | None, Field(None, exclude=True, description={{ column.column_comment | pyrepr }})]
    {% else %}
    {{ column.field_name }}: Annotated[{{ column | request_type }} | None, Field(None, description={{ column.column_comment | pyrepr }})]
    {% endif %}
    {% endif %}
    {% endfor %}
